In [1]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb
import lightgbm as lgb
# from catboost import CatBoostClassifier
from sklearn.ensemble import VotingClassifier
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import StratifiedKFold
df = pd.read_csv("linear_features.csv")
# df.drop(["Unname"])
# df.set_index("A")
df = df.drop(['A'],axis = 1)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,1.584365,1.272485,0.988015,0.751214,0.609820,0.573609,0.574218,0.615872,0.794080,0.844778,...,-0.000020,-0.000021,-0.000017,-0.000014,-0.000012,-0.000007,-0.000012,-0.000014,-0.000017,0
1,1.409659,1.117173,0.853609,0.681107,0.636211,0.667881,0.678643,0.713324,0.877467,0.818675,...,-0.000025,-0.000026,-0.000021,-0.000019,-0.000016,-0.000011,-0.000016,-0.000019,-0.000021,0
2,1.329236,1.025930,0.761888,0.553783,0.445773,0.477934,0.603255,0.762125,0.919404,0.904256,...,-0.000018,-0.000019,-0.000015,-0.000012,-0.000009,-0.000004,-0.000009,-0.000012,-0.000015,0
3,1.476426,1.168677,0.873097,0.623380,0.499781,0.502696,0.563287,0.671238,0.853291,0.841276,...,-0.000016,-0.000017,-0.000013,-0.000010,-0.000008,-0.000003,-0.000008,-0.000010,-0.000013,0
4,1.484198,1.190569,0.958220,0.791438,0.674521,0.632456,0.642288,0.741218,0.907273,0.895115,...,-0.000023,-0.000024,-0.000019,-0.000016,-0.000013,-0.000007,-0.000013,-0.000016,-0.000019,0

In [2]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
X = df.drop(['107'], axis = 1)
Y = df['107']

In [4]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,106
0,1.584365,1.272485,0.988015,0.751214,0.609820,0.573609,0.574218,0.615872,0.794080,0.844778,...,-0.000017,-0.000020,-0.000021,-0.000017,-0.000014,-0.000012,-0.000007,-0.000012,-0.000014,-0.000017
1,1.409659,1.117173,0.853609,0.681107,0.636211,0.667881,0.678643,0.713324,0.877467,0.818675,...,-0.000021,-0.000025,-0.000026,-0.000021,-0.000019,-0.000016,-0.000011,-0.000016,-0.000019,-0.000021
2,1.329236,1.025930,0.761888,0.553783,0.445773,0.477934,0.603255,0.762125,0.919404,0.904256,...,-0.000015,-0.000018,-0.000019,-0.000015,-0.000012,-0.000009,-0.000004,-0.000009,-0.000012,-0.000015
3,1.476426,1.168677,0.873097,0.623380,0.499781,0.502696,0.563287,0.671238,0.853291,0.841276,...,-0.000013,-0.000016,-0.000017,-0.000013,-0.000010,-0.000008,-0.000003,-0.000008,-0.000010,-0.000013
4,1.484198,1.190569,0.958220,0.791438,0.674521,0.632456,0.642288,0.741218,0.907273,0.895115,...,-0.000019,-0.000023,-0.000024,-0.000019,-0.000016,-0.000013,-0.000007,-0.000013,-0.000016,-0.000019

In [5]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: 107, dtype: int64

In [6]:
# seed = 7
# test_size = 0.99
# X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed, stratify = Y)

In [7]:
# fit model no training data
model = XGBClassifier()
model.fit(X, Y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [8]:
cols = [0]
# df.drop(df.columns[cols],axis=1,inplace=True)

test = pd.read_csv("rorated_test.csv")
test.drop(test.columns[cols],axis = 1,inplace = True)
test.head()

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,1.530304,1.241446,0.942966,0.649896,0.432142,0.386734,0.480547,0.639331,0.855722,0.738962,...,-0.000018,-0.000019,-0.000016,-0.000014,-0.000012,-0.000006,-0.000011,-0.000014,-0.000016,0
1,1.691218,1.388767,1.093530,0.846527,0.648924,0.467718,0.423358,0.508926,0.744601,0.626492,...,-0.000015,-0.000016,-0.000012,-0.000010,-0.000008,-0.000004,-0.000008,-0.000010,-0.000012,0
2,1.173903,0.931774,0.690698,0.481708,0.388927,0.487251,0.656141,0.853107,1.024209,1.043794,...,-0.000014,-0.000015,-0.000012,-0.000009,-0.000006,0.000002,-0.000006,-0.000009,-0.000012,0
3,1.797167,1.519267,1.288143,1.143166,1.041716,0.920804,0.787881,0.776724,0.909327,0.949371,...,-0.000036,-0.000038,-0.000032,-0.000030,-0.000028,-0.000024,-0.000028,-0.000030,-0.000032,0
4,1.563453,1.266290,0.962966,0.635600,0.331946,0.229010,0.464102,0.749424,0.929546,0.893835,...,-0.000018,-0.000019,-0.000016,-0.000014,-0.000011,-0.000005,-0.000011,-0.000014,-0.000016,0

In [9]:
y_test = test['107']
X_test = test.drop(['107'], axis = 1)
y_pred = model.predict(X_test)

In [10]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 36.36%

In [11]:
from matplotlib import pyplot
pyplot.bar(range(len(model.feature_importances_)), model.feature_importances_)
pyplot.show()

In [12]:
model = LogisticRegression(random_state=1)
model.fit(X,Y)
model.score(X_test, y_test)

0.32575757575757575

In [13]:
model = GaussianNB()
model.fit(X,Y)
model.score(X_test,y_test)

0.31060606060606061

In [14]:
model = svm.SVC()
model.fit(X,Y)
model.score(X_test, y_test)

0.25

In [15]:
model = tree.DecisionTreeClassifier(random_state=1)
model.fit(X,Y)
model.score(X_test, y_test)

0.27272727272727271

In [16]:
model = BaggingClassifier(tree.DecisionTreeClassifier(random_state=1))
model.fit(X,Y)
model.score(X_test,y_test)

0.2878787878787879

In [17]:
model= RandomForestClassifier(random_state=1)
model.fit(X,Y)
model.score(X_test,y_test)

0.26515151515151514

In [18]:
model = AdaBoostClassifier(random_state=1)
model.fit(X,Y)
model.score(X_test,y_test)

0.25757575757575757

In [19]:
model= GradientBoostingClassifier(learning_rate=0.01,random_state=1)
model.fit(X,Y)
model.score(X_test,y_test)

0.35606060606060608

In [20]:
model=xgb.XGBClassifier(random_state=1,learning_rate=0.01)
model.fit(X,Y)
model.score(X_test,y_test)

0.34848484848484851

In [21]:
model1 = LogisticRegression(random_state=1)
model2 = tree.DecisionTreeClassifier(random_state=1)
model3 = GaussianNB()
model = VotingClassifier(estimators=[('lr', model1), ('dt', model2), ('NB', model3)])
model.fit(X,Y)
model.score(X_test,y_test)

0.31818181818181818